<nav class="navbar nnavbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/#!/class">
        B.T. Labs
    </a>
    <form class="form-inline my-2 my-lg-0">
        <div class="nav-link btn btn-outline-secondary my-2 my-sm-0" href="/#!/login" ng-click="logout()">logout</div>
    </form>
</nav>

<div class="container-fluid text-center">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Welcome {{firstName}}!</h3>
    <p class="text-info">The barbell classes on Tuesdays and Thursdays are the only classes need to be reserved. The open reservation starts at noon on the same day of the class.</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="table">
        <div class="row font-weight-bold" >
            <div class="col">MON</div>
            <div class="col">TUE</div>
            <div class="col">WED</div>
            <div class="col">THU</div>
            <div class="col">FRI</div>
        </div>
        &nbsp;
        <div class="row" ng-repeat="items in InspireList">
            <div class="col font-weight-light" ng-repeat="item in items" style="padding-right:20px; border-right: 1px solid #ccc;">
                <div ng-click="goToReservationPage(item)" class="{{item.titleStyle}} font-weight-normal">{{item.title}}</div>
                <div >{{item.instructor}}</div>
                <div>{{item.startTime}}</div>
                <div>{{item.duration}}</div>
                &nbsp;
            </div>
        </div>
    </div>
</div>