<div class="container">

    <div class="jumbotron text-left">
        <h1>B.T. Labs</h1>
        <p>Body Transformation Labs is an online workout calender and class reservation application</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h1 class="form-signin-heading">Sign in</h1>
            <p class="lead">Not a member? Please
                <button class="btn-sm btn-link" ng-click="goToRegisterPage()">register</button>
                instead.
            </p>
            <div class="alert alert-danger" ng-show="loginError">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{loginError}}
            </div>
            <form>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter email"
                           ng-class="loginValidation.email.validationInputClass" ng-model="currentUser.email">
                    <div ng-class="loginValidation.email.validationFeedbackClass">
                        {{loginValidation.email.validationMessage}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter password"
                           ng-class="loginValidation.password.validationInputClass" ng-model="currentUser.password"
                           data-toggle="tooltip" data-placement="bottom"
                           title="Please know that the password needs to be at least 8-digit long.">
                    <div ng-class="loginValidation.password.validationFeedbackClass">
                        {{loginValidation.password.validationMessage}}
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" ng-click="login()">Sign in!</button>
            </form>


        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="row col-md-6">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="container">
                <blockquote class="quote-card">
                    <p>
                        The idea of lying on a beach as my main thing just sounds like the worst. It sounds horrible to
                        me.
                        I would go bonkers. I would have to be on serious drugs. I’d be super-duper bored. I like high
                        intensity.
                    </p>

                    <cite>
                        Elon Musk
                    </cite>
                </blockquote>
            </div>
        </div>
    </div>
</div>


