<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h1 class="form-signin-heading">Sign in</h1>
            <p class="lead">Not a member? Please <button class="btn btn-warning" ng-click="goToRegisterPage()">Register</button> instead.</p>
            <div class="alert-danger" ng-show="loginError">{{loginError}}</div>
            <form>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email" placeholder="Enter email"
                           class="form-control" ng-model="currentUser.email" >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password"
                           class="form-control" ng-model="currentUser.password">
                </div>
            </form>
            <button class="btn btn-primary" ng-click="login()">Sign in!</button>


        </div>
    </div>
</div>


