<div style="text-align:center;padding:20px;width:400px;margin:10px auto;">
    <div>
        Welcome to Reserve Board!
    </div>
    <div ng-show="reserveMessage">{{reserveMessage}}</div>
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-top:10px;">
                MIRROR
            </div>
            <div class="col-sm-12" style="text-align:center;">
                <div style="margin: 10px auto;width:400px;">
                    <div style="width:360px;float:left;">
                        <!--display $index+1 but actually click on $index-->
                        <div ng-repeat="res in reservations track by $index" class="seats"
                             ng-class="res.userId>=0?'occupied':''"
                             ng-click="selectSeat($index)">
                            {{$index+1}}
                        </div>
                    </div>
                    <div class="vertical-text" style="width:30px;display:inline-block">
                        WINDOW
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="myReservation.enrolled || clickReserve">
    <div class="panel-body">
        <div class="row">
            <div class="col">Date</div>
            <div class="col">Class</div>
            <div class="col">Spot</div>
            <div class="col">Instructor</div>
            <div class="col">Status</div>
            <div class="col">Action</div>
        </div>
        <div class="row" ng-model="myReservation">
            <div class="col">{{myReservation.classTime}}</div>
            <div class="col">{{myReservation.className}}</div>
            <div class="col">{{myReservation.spotId}}</div>
            <div class="col">{{myReservation.instructor}}</div>
            <div class="col" ng-show="myReservation.enrolled">enrolled</div>
            <button class="col button" ng-show="myReservation.enrolled" ng-click="cancelReservation() ; generateReservations() ">Cancel</button>
            <div class="col" ng-show="!myReservation.enrolled">available</div>
            <button class="col button" ng-show="!myReservation.enrolled" ng-click="submitReservation()">reserve</button>

        </div>
    </div>
</div>
