<nav class="navbar nnavbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        B.T. Labs
    </a>
    <a class="nav-link text-right" href="#" ng-click="logout()">
        <div class="text-light">logout</div>
    </a>
</nav>
<div class="container text-center">
<div ng-show="authInfo.isAdmin" class="navbar navbar-inverse nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"  ng-click="logout()">Show Reservations</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
                </ul>
                <div class="pull-right">
                    <ul class="nav pull-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
                                <li><a href="/help/support"><i class="icon-envelope"></i> Contact Support</a></li>
                                <li class="divider"></li>
                                <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <h3>Reserve for {{weekday}}, {{month}} {{day}}, 5:15 PM Barbell Class with Iuliia</h3>
<div style="text-align:center;padding:20px;width:400px;margin:10px auto;">
    <div ng-show="reserveMessage">{{reserveMessage}}</div>
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-top:10px;">
                MIRROR
            </div>
            <div class="col-sm-12" style="text-align:center;">
                <div style="margin: 10px auto;width:400px;">
                    <div style="width:360px;float:left;">
                        <!--display $index+1 but actually click on $index-->
                        <div ng-repeat="res in reservations track by $index" class="seats"
                             ng-class="res.userId>=0?'occupied':''"
                             ng-click="selectSeat($index)">
                            {{$index+1}}
                        </div>
                    </div>
                    <div class="vertical-text" style="width:30px;display:inline-block">
                        WINDOW
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="myReservation.enrolled || clickReserve">
    <div class="panel-body">
        <div class="row">
            <div class="col">Date</div>
            <div class="col">Class</div>
            <div class="col">Spot</div>
            <div class="col">Instructor</div>
            <div class="col">Status</div>
            <div class="col">Action</div>
        </div>
        <div class="row" ng-model="myReservation">
            <div class="col">{{myReservation.classTime}}</div>
            <div class="col">{{myReservation.className}}</div>
            <div class="col">{{myReservation.spotId}}</div>
            <div class="col">{{myReservation.instructor}}</div>
            <div class="col" ng-show="myReservation.enrolled">enrolled</div>
            <button class="col button" ng-show="myReservation.enrolled" ng-click="cancelReservation() ; generateReservations() ">Cancel</button>
            <div class="col" ng-show="!myReservation.enrolled">available</div>
            <button class="col button" ng-show="!myReservation.enrolled" ng-click="submitReservation()">reserve</button>

        </div>
    </div>
</div>

</div>