.black-title {
    cursor: not-allowed;
    collor: black;
    font-weight: bold;
}

.black-header {
    collor: black;
    font-weight: bold;
}

.lime-title {
    cursor: pointer;
    color: #5a9808;
    font-weight: bold;
}
.lime-p{
    color: #5a9808;
}
.border-between > [class*='col']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col']:first-child:before {
    display: none;
}