/**
Created by Ming He on Feb 24, 2018
**/

.seats {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    /*border: 1px solid #444649;*/
    border-radius: 20px;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    cursor: pointer;
    background-color: #4990E2;
    color: #FFF;
}

.spots {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: #4990E2;
    padding-top: 2px;
    cursor: pointer;
    color: white;
}

.my-spot {
    background-color: black;
    color: white;
}

.occupied {
    cursor: not-allowed;
    background-color: #CCCCCC;
    color: #CCCCCC;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}

.input-text {
    font-size:13px;
}

.adjust-column {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
